@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<script src="https://kit.fontawesome.com/a81368914c.js"></script>
<link rel="stylesheet" href="~/css/Register.css" asp-append-version="true" />
@*<img class="wave" src="~/img/wave.png">*@
<div class="container1">
    <div class="img">
        <img src="~/img/welcome.svg">
    </div>
    <div class="login-content">
        <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <h2 class="title">Creatre new account</h2>
             <div asp-validation-summary="All" style="color: #842029;background-color: #f8d7da;border-color: #f5c2c7; border-radius: 10px;"></div>
            <div class="input-div one" id="email">
                <div class="i">
                    <i class="fas fa-user"></i>
                </div>
                <div class="div">
                    <h5>Email</h5>
                    <input asp-for="Input.Email" class="input"  type="email" required="required" />
                </div>
            </div>
            <div class="input-div pass">
                <div class="i">
                    <i class="fas fa-lock"></i>
                </div>
                <div class="div">
                    <h5>Password</h5>
                     <input asp-for="Input.Password" class="input" type="password" required="required" />
                </div>
            </div>
            <div class="input-div pass">
                <div class="i">
                    <i class="fas fa-lock"></i>
                </div>
                <div class="div">
                    <h5>Confirm Password</h5>
                     <input asp-for="Input.ConfirmPassword" class="input" type="password" required="required" />
                </div>
            </div>
            <input type="submit" class="btn btn-outline-primary" value="Submit">
        </form>
    </div>
</div>

@if (Model.ModelState.ErrorCount > 0 )
{
    <script type="text/javascript">
        document.getElementById("email").classList.add("focus");
    </script>
}
<script>
   const inputs = document.querySelectorAll(".input");


    function addcl(){
        let parent = this.parentNode.parentNode;
        parent.classList.add("focus");
    }

    function remcl(){
        let parent = this.parentNode.parentNode;
        if(this.value == ""){
            parent.classList.remove("focus");
        }
    }


    inputs.forEach(input => {
        input.addEventListener("focus", addcl);
        input.addEventListener("blur", remcl);
    });
</script>

@*@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}*@
