@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/Product.css" asp-append-version="true" />
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:700" asp-append-version="true" />
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,300&display=swap" rel="stylesheet">
<img class="wave" src="~/img/product-back.png">
<h1 style="color: white; margin-top: 2rem;">ELDEN RING</h1>
<div class="row">
    <div class=" col col-4">
        <div>
            <img class="product-pic" src="~/img/elden-ring.jpg">
        </div>
        <div class="about-box">
            <div style="margin-top:2rem; margin-left: 1.5rem;" class="col-12">
                <div class="row" style="margin-top:1rem;">
                    <h6 class="col-4" style="text-align: right; color: #999;  margin-bottom: 3px; font-weight: normal;">Genre</h6>
                    <h6 class="col-8" style=" color: White;   margin-bottom: 3px; opacity: 0.9; font-weight: normal;">Action, Shooter</h6>
                </div>
                <div class="row" style="margin-top:1rem;">
                    <h6 class="col-4" style="text-align: right; color: #999;  margin-bottom: 3px; font-weight: normal;">Age rating</h6>
                    <h6 class="col-8" style=" color: White;   margin-bottom: 3px; opacity: 0.9; font-weight: normal;">R18</h6>
                </div>
                <div class="row" style="margin-top:1rem;">
                    <h6 class="col-4" style="text-align: right; color: #999;  margin-bottom: 3px; font-weight: normal;">Language</h6>
                    <h6 class="col-8" style=" color: White;   margin-bottom: 3px; opacity: 0.9; font-weight: normal;">English, Russian</h6>
                </div>
                <div class="row" style="margin-top:1rem;">
                    <h6 class="col-4" style="text-align: right; color: #999;  margin-bottom: 3px; font-weight: normal;">Release date</h6>
                    <h6 class="col-8" style=" color: White;  margin-bottom: 3px; opacity: 0.9;font-weight: normal;">21 march 2022</h6>
                </div>
                <div class="row" style="margin-top:1rem;">
                    <h6 class="col-4" style="text-align: right; color: #999;   margin-bottom: 3px; font-weight: normal;">Publisher</h6>
                    <h6 class="col-8" style=" color: White;   margin-bottom: 3px; opacity: 0.9;font-weight: normal;">FromSoftware Inc., BANDAI NAMCO Entertainment</h6>
                </div>
                <div class="row" style="margin-top:1rem; margin-bottom: 2rem;">
                    <h6 class="col-4" style="text-align: right; color: #999;   margin-bottom: 3px; font-weight: normal;">Developer</h6>
                    <h6 class="col-8" style=" color: White;   margin-bottom: 3px; opacity: 0.9;font-weight: normal;">FromSoftware Inc.</h6>
                </div>
            </div>

        </div>
    </div>
    <div class="col col-8">
        <div class="row">
            <div class="about-box2 col-4">
                <div style="margin-top:1rem;" class="col col-12">
                    <div class="col row col-12" style="margin-top:1rem; margin-left: 1.5rem; margin-bottom: 0.5rem;">
                        <div class="col col-1">
                            <img src="~/img/home/ok.svg" class="promo-img">
                        </div>
                        <div class="col col-9 row" style="margin-top: 3px;">
                            <h8 class="col col-4" style="color: White; opacity: 0.9; font-weight: normal; text-align: left; margin-left:15px;">Availability:</h8>
                            <h8 class="col col-4" style="color: #ff7c3c; opacity: 0.9; font-weight: normal; text-align: left; margin-left:25px;">enough</h8>
                        </div>

                    </div>
                    <div class="col row col-12" style="margin-top:1rem; margin-left: 1.5rem; margin-bottom: 0.5rem;">
                        <div class="col col-1">
                            <img src="~/img/home/message.svg" class="promo-img">
                        </div>
                        <div class="col col-9" style="margin-top: 3px;">
                            <h8 style="color: White; opacity: 0.9; font-weight: normal; text-align: left; margin-left:15px;">Instant delivery</h8>
                        </div>

                    </div>
                    <div class="col row col-12" style="margin-top:1rem; margin-left: 1.5rem; margin-bottom: 0.5rem;">
                        <div class="col col-1">
                            <img src="~/img/home/key2.svg" class="promo-img">
                        </div>
                        <div class="col col-9" style="margin-top: 3px;">
                            <h8 style="color: White; opacity: 0.9; font-weight: normal; text-align: left; margin-left:15px;">License activation key</h8>
                        </div>

                    </div>
                    <div class="col row col-12" style="margin-top:1rem; margin-left: 1.5rem; margin-bottom: 0.5rem;">
                        <div class="col col-1">
                            <img src="~/img/home/procent.svg" class="promo-img">
                        </div>
                        <div class="col col-9" style="margin-top: 3px;">
                            <h8 style="color: White; opacity: 0.9; font-weight: normal; text-align: left; margin-left:15px;">Accumulative discount</h8>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col col-4" style="margin-top:5.5rem; margin-left: 1rem;">
                <div class="row">
                    <div class="promo col-1">
                        <p class="inner-text">-5%</p>
                    </div>
                    <div class="col" style="color: white; margin-bottom: 3px; opacity: 0.9; font-weight: 600; font-size:3rem; margin-left:0.5rem;">
                        25$
                    </div>
                </div>
                <input type="submit" class="btn btn-outline-primary" style="width: 100%;" value="Add to cart">
            </div>
        </div>
        <div class="description-box col-12 row">
            <h5 class="col col-12" style="margin-top:1.5rem; margin-left: 1.5rem;">Description</h5>
            <h7 style="margin-top:0.5rem; margin-left: 1.5rem; width:96%; margin-bottom: 1rem;">
                <p>Arise, quenched soul! Interearth is waiting for its master. May grace lead you to the Ring of Elden.</p>
                <p>Huge world with big losses, dangers and huge dungeons where complex intricate structures fit together. Travel, reach deadly dangers and rejoice in success.</p>
                <p> You can not only change the appearance of the character, but also combine weapons, armor and items. Develop your character to your liking. Build muscle or comprehend the mysteries of magic.</p>
                <p>A multi-layered story, broken into fragments. An epic drama in which thoughts are presented in the Inter-earth.</p>
                <p>In addition to the multiplayer mode where you connect and join other users, there is an asynchronous online mode where you can observe the presence of other players.</p>
            </h7>
        </div>
        <div class="requirements-box col-12 row">
            <h5 class="col col-12" style="margin-top:1.5rem; margin-left: 1.5rem;">System requirements</h5>
            <hr style="margin-left: 1.5rem; width:95%;" />
            <div class="col-12">
                <div class="row" style="margin-top:1rem;">
                    <h6 class="col-2" style="text-align: right; color: #999;  margin-bottom: 3px; font-weight: normal;">OS</h6>
                    <h6 class="col-10" style=" margin-bottom: 3px; opacity: 0.9; font-weight: normal;">Windows 10</h6>
                </div>
                <div class="row" style="margin-top:1rem;">
                    <h6 class="col-2" style="text-align: right; color: #999;  margin-bottom: 3px; font-weight: normal;">Processor</h6>
                    <h6 class="col-10" style=" margin-bottom: 3px; opacity: 0.9; font-weight: normal;">INTEL CORE I5-8400 or AMD RYZEN 3 3300X</h6>
                </div>
                <div class="row" style="margin-top:1rem;">
                    <h6 class="col-2" style="text-align: right; color: #999;  margin-bottom: 3px; font-weight: normal;">Ram</h6>
                    <h6 class="col-10" style=" margin-bottom: 3px; opacity: 0.9; font-weight: normal;">12 GB</h6>
                </div>
                <div class="row" style="margin-top:1rem;">
                    <h6 class="col-2" style="text-align: right; color: #999;  margin-bottom: 3px; font-weight: normal;">Graphic card</h6>
                    <h6 class="col-10" style=" margin-bottom: 3px; opacity: 0.9; font-weight: normal;">NVIDIA GEFORCE GTX 1060 3 GB or AMD RADEON RX 580 4 GB</h6>
                </div>
                <div class="row" style="margin-top:1rem;">
                    <h6 class="col-2" style="text-align: right; color: #999;  margin-bottom: 3px; font-weight: normal;">DirectX</h6>
                    <h6 class="col-10" style=" margin-bottom: 3px; opacity: 0.9; font-weight: normal;">Версии 12</h6>
                </div>
                <div class="row" style="margin-top:1rem;  margin-bottom: 1.5rem;">
                    <h6 class="col-2" style="text-align: right; color: #999;  margin-bottom: 3px; font-weight: normal;">HDD</h6>
                    <h6 class="col-10" style=" margin-bottom: 3px; opacity: 0.9; font-weight: normal;">60 GB</h6>
                </div>
            </div>
        </div>
    </div>
</div>
<img class="wave1" src="~/img/back-dark.png">
<div class="row about-company">
    <div class="col col-md-3">
        <div class="row">
            <img src="~/img/home/key.svg" class="footer-img col-4">
            <p class="col-8 footer-txt-about ">License keys from official publishers</p>
        </div>
    </div>
    <div class="col col-md-3">
        <div class="row">
            <img src="~/img/home/gaika.svg" class="footer-img col-4">
            <p class="col-8 footer-txt-about ">Guaranteed technical support for your purchase</p>
        </div>
    </div>
    <div class="col col-md-3">
        <div class="row">
            <img src="~/img/home/procent.svg" class="footer-img col-4">
            <p class="col-8 footer-txt-about ">Regular promotions, discounts and bonuses</p>
        </div>
    </div>
    <div class="col col-md-3">
        <div class="row">
            <img src="~/img/home/otzivy.svg" class="col-4 footer-img">
            <p class="col-8 footer-txt-about ">Over 9000 positive reviews from real customers</p>
        </div>
    </div>
    <hr style="color: #999; margin-top: 4rem;" />
    <div class="col-6">
        <p class="footer-txt" style="margin-bottom: 5px;">© 2022 eShop</p>
        <p class="footer-txt-privacy">All rights reserved. Full or partial copying of site materials without the consent of the administration is prohibited!</p>
        <p class="footer-txt-privacy">All game names, company names, trademarks, logos and game materials are the property of their respective owners.</p>
    </div>
    <div class="col-6 row" style="justify-content: space-around; margin-top: 3rem;">
        <a class="col-3 col" style="color: #999; position: center;">Agreement</a>
        <a class="col-3 col" style="color: #999; position: center;">For partners</a>
        <a class="col-3 col" style="color: #999; position: center;">Support</a>
        <a class="col-3 col" style="color: #999; position: center;">About the site</a>
    </div>
</div>

