@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/Product.css" asp-append-version="true" />
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:700" asp-append-version="true" />
<img class="wave" src="~/img/product-back.png">
<h1 style="color: white; margin-top: 2rem;">ELDER RING</h1>
<div class="row">
    <div class=" col col-4">
        <div>
            <img class="product-pic" src="~/img/elden-ring.jpg">
        </div>
        <div class="about-box">
            <div style="margin-top:2rem; margin-left: 1.5rem;" class="col-12">
                <div class="row">
                    <h6 class="col-4"style="text-align: right; color: #999;  margin-bottom: 3px">Genre</h6>
                     <h6 class="col-8"style=" color: White;   margin-bottom: 3px; opacity: 0.9;">Action, Shooter</h6>
                </div>
                 <div class="row" style="margin-top:1rem;">
                    <h6 class="col-4"style="text-align: right; color: #999;  margin-bottom: 3px">Age rating</h6>
                     <h6 class="col-8"style=" color: White;   margin-bottom: 3px; opacity: 0.9;">R 18</h6>
                </div>
                <div class="row" style="margin-top:1rem;">
                    <h6 class="col-4"style="text-align: right; color: #999;  margin-bottom: 3px">Release date</h6>
                     <h6 class="col-8"style=" color: White;  margin-bottom: 3px; opacity: 0.9;">21 march 2022</h6>
                </div>
                <div class="row" style="margin-top:1rem;">
                    <h6 class="col-4"style="text-align: right; color: #999;   margin-bottom: 3px">Publisher</h6>
                     <h6 class="col-8"style=" color: White;   margin-bottom: 3px; opacity: 0.9;">FromSoftware Inc., BANDAI NAMCO Entertainment</h6>
                </div>
                <div class="row" style="margin-top:1rem; margin-bottom: 2rem;">
                    <h6 class="col-4"style="text-align: right; color: #999;   margin-bottom: 3px">Developer</h6>
                     <h6 class="col-8"style=" color: White;   margin-bottom: 3px; opacity: 0.9;">FromSoftware Inc.</h6>
                </div>
            </div>

        </div>
    </div>
    <div class="col col-8">
        <div class="about-box2">
        </div>
        <div class="description-box col-12 row">
            <h5 class="col col-12" style="margin-top:1.5rem; margin-left: 1.5rem;">Description</h5>
            <h7 style="margin-top:0.5rem; margin-left: 1.5rem; width:96%; margin-bottom: 1rem;">
                Восстань, погасшая душа! Междуземье ждёт своего повелителя. Пусть благодать приведёт тебя к Кольцу Элден.

                • Огромный захватывающий мир
                Огромный мир с открытыми полями, множеством ситуаций и гигантскими подземельями, где сложные трёхмерные конструкции сочетаются воедино. Путешествуйте, преодолевайте смертельные опасности и радуйтесь успехам.

                • Создайте своего персонажа
                Вы можете не только изменить внешность персонажа, но также комбинировать оружие, броню и предметы. Развивайте персонажа по своему вкусу. Наращивайте мышцы или постигайте таинства магии.

                • Эпическая драма, выросшая из мифа
                Многослойная история, разбитая на фрагменты. Эпическая драма, в которой мысли персонажей пересекаются в Междуземье.

                • Уникальный сетевой режим, приближающий вас к другим игрокам
                Помимо многопользовательского режима, в котором вы напрямую подключаетесь к другим игрокам и путешествуете вместе, есть асинхронный сетевой режим, позволяющий ощутить присутствие других игроков.
            </h7>
        </div>
    </div>
</div>

