@{
    ViewData["Title"] = "Cart";
}

<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/Cart.css" asp-append-version="true" />
<h2 style="margin-left: 14rem; margin-top: 2.5rem; color:#f8f4f4;">Cart</h2>
<div class="cont">
    <div class="large-box col-8">
    </div>
  @*  <input type="submit" class="btn btn-outline-primary" value="Login">*@
</div>
<input type="submit" class="btn btn-outline-primary" style="margin-left:12rem;"value="Pay">
