@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/Catalog.css" asp-append-version="true" />
<h2 style="/*margin-left: 14rem;*/ margin-top: 2.5rem;/* color:#f8f4f4;*/">Catalog</h2>
<div>
    <div class="row" style="margin-top: 60px;">
        <section class="col-md-8 col">
            <hr style="color: #999; margin-top: -3rem;" />
            <div class="container1" style=" margin-top: 1.3rem;">
                <div class="content1">
                    <div class="box">
                        <img src="~/img/squad.webp">
                        <div style="margin-left: 25px; margin-top: 0.4rem;">
                            <div class="navbar-brand">Squad</div>
                            <h5 style=" color: #999; font-size: 0.9rem;  margin-bottom: 3px">Action, Strategy</h5>
                            <div class="age-rating">R-18</div>
                            <span class="wdp-ribbon">-25%</span>
                            <h4 style="position: absolute; right: 0; margin-top: -3.25rem;color: #999; margin-right: 30px;">25 $</h4>
                        </div>
                    </div>
                     </div>
            </div>
        </section>
        <div class=" col">
            <section class="col-md-12 col" style="margin-top: 2.5rem;">
                <div class="row" style="margin-bottom: 10px;">
                    <h4 class="col">Sales</h4><h8 class="upper-text col">from 40%</h8>
                </div>
                @for (int i = 0; i < 5; i++)
                {
                    <div class="container1">
                        <div class="content2">
                            <div class="box-small">
                                <img src="~/img/prototype-2.jpg">
                                <div class="content" style="margin-left: 15px; margin-top: 10px;">
                                    <div class="navbar-brand">Sasdasd</div>
                                    <span class="rec-sale-small">-25%</span>
                                    <h6 style="position: absolute; right: 0; margin-top: -1.3rem; margin-right: 30px;color: #999;">25 $</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </section>
        </div>
    </div>
</div>