body {
   
}
.product-pic{
    margin-top: 35px;
    height:500px;
    width: 390px;
    border-radius: 15px;

}

.about-box {
    display: flex;
    position: relative;
    width: 390px;
    margin-top: 30px;
    background-color: #403c3c;
    border-radius: 15px;
    height: 335px;
}

.description-box {
    background-color: white;
    width: auto;

    position: relative;
    display: flex;
    margin-top: 115px;
    border-radius: 15px;
}

.requirements-box {
    background-color: white;
    width: auto;
    position: relative;
    display: flex;
    margin-top: 15px;
    border-radius: 15px;
    
}

.about-box2 {
    display: flex;
    position: relative;
    height: 230px;
    width: 310px;
    margin-top: 38px;
    background-color: rgb(24,20,20, 0.85);
    border-radius: 15px;
    /* opacity: 0.9;*/
}

.footer-img {
    width: 100px;
    height: 50px;
}

.promo-img {
    width: 25px;
    height: 25px;
}

.footer-txt {
    color: #999;
}

.footer-txt-privacy {
    color: #999;
    font-size: small;
    margin-bottom: 5px;
}

.footer-txt-about {
    color: white;
}

.about-company {
    margin-top: 8rem;
}

.btn-outline-primary {
    color: White;
    border-color: #0894ec;
    background-color: #0894ec;
    height: 70px;
   /* border-radius: 25px;*/
}

.promo {
    height: 85px;
    margin-left: 14px;
    width: 85px;
    border: solid;
    text-align: center;
    border-image-slice: 1;
    border-image-source: linear-gradient(to left, #0496e6, #04b49c);
    margin-bottom: 20px;
}

.inner-text {
    margin-top: 19px;
    background: linear-gradient(to left, #0496e6, #04b49c);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 1.5rem;
    font-weight:500;
}